<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<p>
<a href="/search">search</a>
<a href="/register">register</a>
<a href="/remove">remove</a>
</p>

<input id="register_txt" type="text" />
<input id="register_btn" type="button" value="register" />

<ul id="data_list">
<% for(var i = datas.length - 1; i >= 0; i--) { %>
  <li id="<%= datas[i]._id %>" class="data"><%= datas[i].title %>
     <ul>
        <li class="date"><%= datas[i].date %></li>
      </ul>
  </li>
<% } %>
</ul>

